:root {
    --color-blue: #3199dc;
    --color-dark: #222222;
    --color-light: #f8f9fa;

    --spaicing-small: 10px;
    --spaicing-medium: 15px;
    --spaicing-large: 20px;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    scrollbar-color: var(--color-blue);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: var(--color-dark);
}

:global(.btn) {
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
}
:global(.img-contain) {
    display: block;
    object-fit: contain;
    object-position: center;
}
:global(.img-cover) {
    display: block;
    object-fit: cover;
    object-position: center;
}